<div class="login-form">

    <h2>${properties.title}</h2>

    <form method="post" action="/bin/mylogin">

        <div class="form-field">
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter email" required>
        </div>

        <div class="form-field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password" required>
        </div>

        <button type="submit">Login</button>
    </form>

</div>